{% load static %}

{% load sass_tags %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% sass_src 'sass/style.scss' %}" type="text/css">

</head>

<body>
    <header>
        {% if request.user.is_authenticated %}
            Salut {{request.user.username}}
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </header>
    <div class="container">
        <div class="row">

        </div>

        {% block content %}

        {%endblock%}

    </div>
</div>
</div>
{% block extra_script %}

<script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
{%endblock%}

</body>

</html>
