{% extends "base.html"%}
{%block title%}
PostList
{%endblock title%}

{%block content%}
{% if perms.post.add_post %}
<a href=" {% url 'post-create'%}">creation d'article</a>
{% endif %}
<h1>Les articles</h1>
<form class="" action="{% url 'post-list' %}" method="get">
    <select class="" name="Category">
        <option value=""></option>
        {% for category in categories %}
        <option value="{{category.id}}" {% if category.id == selected_category.id %}selected{% endif %}>
            {{category}}
        </option>
        {% endfor %}
    </select>
    <input type="submit" name="" value="Go">

</form>

<h2>Liste des articles
    {% if selected_category != None %}
    : {{ selected_category }}
    {% endif %}
</h2>
    {% for post in posts %}
    <div class="col-md-3">
        <ul>
            <img src="http://lorempixel.com/200/200" />
            <li><a href="{% url "post-detail" post.slug %}"><h2>{{post.title}}</h2> {{post.creation_date}}  </a></li>
        </ul>
    </div>
    {% endfor %}

    <div class="pagination col-md-12 text-center">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
