{% extends "base.html"%}
{%block title%}
PostList
{%endblock title%}

{%block content%}

<form class="" action="{% url 'post-list' %}" method="get">
    <select class="" name="Category">
        <option value=""></option>
        {% for category in categories %}
        <option value="{{category.id}}">{{category}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="" value="Go">

</form>

<h1>Liste des articles
    {% if selected_category != None %}
    : {{ selected_category }}
    {% endif %}
</h1>
    {% for post in posts %}
    <div class="col-md-3">
        <ul>
            <li><a href="{% url "post-detail" post.slug %}"><h2>{{post.title}}</h2> {{post.creation_date}}  </a></li>
        </ul>
    </div>
    {% endfor %}

{% endblock content %}
