{% extends "base.html"%}
{%block title%}
{{article}}
{%endblock title%}

{%block content%}
<h1>{{post.title}}</h1>
    {% if request.user.is_authenticated and perms.post.change_post%}
        <a href="{% url 'post-edit' post.slug %}">Editer</a>
    {%if request.user.is_superuser %}
        <a href="{% url 'post-delete' post.slug %}">Delete</a>
    {% endif %}
    {% endif %}
<div class="col-md-6">
    <ul>
        <li>{{post.creation_date}}</li>
        <li>{{post.body}}</li>
    </ul>
</div>
<div class="col-md-12">
<a href="{% url 'post-list' %}">Liste des articles</a>
</div>
{% endblock content %}
