@import 'bootstrap';
html {
    background-color: white;
}
body {
    width: 80%;
    margin: auto;
    background-color: #f48944;
    min-height: 800px;
    h1 {
        text-align: center;
        color: white;
        text-transform: capitalize;
    }


    ul {
        list-style-type: none;

        a {
            text-decoration: none;
            color: #ffd1aa;
        }
    }

}
