@import 'bootstrap';
body {
    background-color: #aa6c39;
    h1 {
        text-align: center;
        color: pink;
    }


    ul {
        list-style-type: none;

        a:hover {
            color: #ffd1aa;
        }
        h2 {
            text-transform: capitalize;
        }

    }
}
